<div
  class="flex flex-col py-15 justify-between items-center min-h-screen max-h-screen min-w-screen max-w-screen bg-gradient-to-br from-finco-bg-color to-finco-card-bg-color"
>
  <div class="flex flex-col gap-2 min-w-85 font-bold">
    @if (chart()) {
    <app-transaction-chart
      [transactionChartOptions]="transactionChartOptions()"
    />
    } @else {
    <app-income-expense-pie-chart [transactions]="transactions()" />
    }
    <transaction-ranges-buttons (range)="updateTransactionFilter($event)" />
  </div>

  <div class="w-full px-4">
    <label class="inline-flex items-center cursor-pointer">
      <input
        type="checkbox"
        class="sr-only peer"
        [checked]="chart()"
        (change)="updateChart()"
      />
      <div
        class="relative w-11 h-6 bg-finco-primary-color rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 bg-finco-primary-color dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 bg-finco-secondary-color dark:bg-finco-secondary-color"
      ></div>
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Chart</span
      >
    </label>

    <label class="inline-flex items-center cursor-pointer">
      <input
        type="checkbox"
        class="sr-only peer"
        [checked]="goal()"
        (change)="updateGoal()"
      />
      <div
        class="relative w-11 h-6 bg-finco-primary-color rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 bg-finco-primary-color dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 bg-finco-secondary-color dark:bg-finco-secondary-color"
      ></div>
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Goal</span
      >
    </label>

    <!-- category Field -->
    <div class="space-y-2">
      <label
        for="transferAccountId"
        class="block text-sm font-medium text-finco-secondary-color"
      >
        Category
      </label>
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
        >
          <svg class="h-5 w-5 text-finco-primary-color">
            <use xlink:href="/sprite.svg#currency" />
          </svg>
        </div>
        <select
          id="transferAccountId"
          placeholder="Select account"
          class="block w-full pl-10 pr-3 py-3 rounded-xl bg-white/5 border border-white/10 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-finco-primary-color focus:border-transparent transition duration-200"
          (change)="updateCategory($event)"
        >
          <option value="0">All categories</option>
          @for (category of categories()!; track $index) {
          <option
            [value]="category"
            class="text-finco-secondary-color bg-finco-bg-color"
          >
            {{ category }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="space-y-2">
      <label
        for="transferAccountId"
        class="block text-sm font-medium text-finco-secondary-color"
      >
        Account
      </label>
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
        >
          <svg class="h-5 w-5 text-finco-primary-color">
            <use xlink:href="/sprite.svg#currency" />
          </svg>
        </div>
        <select
          id="transferAccountId"
          placeholder="Select account"
          class="block w-full pl-10 pr-3 py-3 rounded-xl bg-white/5 border border-white/10 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-finco-primary-color focus:border-transparent transition duration-200"
          (change)="updateAccountId($event)"
        >
          <option value="0">All accounts</option>
          @for (account of accounts(); track $index) {
          <option
            [value]="account.id"
            class="text-finco-secondary-color bg-finco-bg-color"
          >
            {{ account.name }}
          </option>
          }
        </select>
      </div>
    </div>

    @if(goal()) {
      <div class="space-y-2">
        <label
          for="transferAccountId"
          class="block text-sm font-medium text-finco-secondary-color"
        >
          Goal
        </label>
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
          >
            <svg class="h-5 w-5 text-finco-primary-color">
              <use xlink:href="/sprite.svg#currency" />
            </svg>
          </div>
          <select
            id="transferAccountId"
            placeholder="Select account"
            class="block w-full pl-10 pr-3 py-3 rounded-xl bg-white/5 border border-white/10 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-finco-primary-color focus:border-transparent transition duration-200"
            (change)="updateGoalId($event)"
          >
            <option value="0">All goals</option>
            @for (goal of goals(); track $index) {
            <option
              [value]="goal.id"
              class="text-finco-secondary-color bg-finco-bg-color"
            >
              {{ goal.name }}
            </option>
            }
          </select>
        </div>
      </div>
    } @else {
      <div class="space-y-2">
        <label
          for="transferAccountId"
          class="block text-sm font-medium text-finco-secondary-color"
        >
          Account transfer
        </label>
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
          >
            <svg class="h-5 w-5 text-finco-primary-color">
              <use xlink:href="/sprite.svg#currency" />
            </svg>
          </div>
          <select
            id="transferAccountId"
            placeholder="Select account"
            class="block w-full pl-10 pr-3 py-3 rounded-xl bg-white/5 border border-white/10 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-finco-primary-color focus:border-transparent transition duration-200"
            (change)="updateTransferAccountId($event)"
          >
            <option value="0">All accounts</option>
            @for (account of accounts(); track $index) {
            <option
              [value]="account.id"
              class="text-finco-secondary-color bg-finco-bg-color"
            >
              {{ account.name }}
            </option>
            }
          </select>
        </div>
      </div>
    }
  </div>

  <div class="space-y-2">
    <label
      for="transferAccountId"
      class="block text-sm font-medium text-finco-secondary-color"
    >
      Operation
    </label>
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
      >
        <svg class="h-5 w-5 text-finco-primary-color">
          <use xlink:href="/sprite.svg#currency" />
        </svg>
      </div>
      <select
        id="transferAccountId"
        placeholder="Select account"
        class="block w-full pl-10 pr-3 py-3 rounded-xl bg-white/5 border border-white/10 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-finco-primary-color focus:border-transparent transition duration-200"
        (change)="updateOperation($event)"
      >
        <option value="0">All operations</option>
        <option value="DEPOSIT">Deposit</option>
        <option value="WITHDRAW">Withdraw</option>
      </select>
    </div>
  </div>



  <div
    class="w-95 h-full flex-2 flex flex-col p-3 gap-2 overflow-y-auto rounded-xl z-1"
  >
    <div>
      <h2 class="text-finco-secondary-color">Transactions</h2>
    </div>
    <div class="flex flex-col gap-2 overflow-y-auto">
      @for (transaction of transactions(); track $index) {
      <app-transaction [transaction]="transaction" />
      }
    </div>
  </div>
</div>
