<div
  class="flex flex-col py-15 justify-between items-center min-h-screen max-h-screen min-w-screen max-w-screen bg-gradient-to-br from-finco-bg-color to-finco-card-bg-color"
>
  <div class="flex flex-col gap-2 min-w-85 font-bold">
    @if (chart()) {
    <app-transaction-chart
      [transactionChartOptions]="transactionChartOptions()"
    />
    } @else {
    <app-income-expense-pie-chart [transactions]="transactions()" />
    }
    <transaction-ranges-buttons (range)="updateTransactionFilter($event)" />
  </div>

  <div class="w-full px-4 pt-5 gap-2">
    <div class="flex gap-2 justify-around">
      <app-toggle-switch
        label="Chart"
        [checked]="chart()"
        (changed)="updateChart()"
      />
  
      <app-toggle-switch
        label="Goal"
        [checked]="goal()"
        (changed)="updateGoal()"
      />
    </div>

    <div class="flex flex-wrap gap-2">
      <app-select-input
        label="Category"
        [values]="categories()!"
        (value)="updateCategory($event)"
      />

      <app-select-input
        label="Account"
        [values]="accounts()!"
        (value)="updateAccountId($event)"
      />

      @if(goal()) {
      <app-select-input
        label="Goal"
        [values]="goals()!"
        (value)="updateGoalId($event)"
      />
      } @else {
      <app-select-input
        label="Account transfer"
        [values]="accounts()!"
        (value)="updateTransferAccountId($event)"
      />
      }
      <app-select-input
        label="Operation"
        [values]="operations()!"
        (value)="updateOperation($event)"
      />
    </div>
  </div>

  <div
    class="w-95 h-full flex-2 flex flex-col p-3 gap-2 overflow-y-auto rounded-xl z-1"
  >
    <div>
      <h2 class="text-finco-secondary-color">Transactions</h2>
    </div>
    <div class="flex flex-col gap-2 overflow-y-auto">
      @for (transaction of transactions(); track $index) {
      <app-transaction [transaction]="transaction" />
      }
    </div>
  </div>
</div>
