<div class="min-w-full min-h-full pt-30 flex flex-col justify-center align-middle">
    @for (message of messages(); track message.id) {
        <app-message [message]="message"/>
    }

    @if (image != null) {
        <div class="max-w-40">
            <img src="{{ imageUrl() }}" />
        </div>
    }
    <textarea class="w300 h300" [(ngModel)]="message"></textarea>
    <input type="file" accept="image/*" (change)="onFileSelected($event)" />
    <button (click)="send()">Send</button>
    <button (click)="connect()">connect</button>
</div>
