<button (click)="router.navigate(['/accounts/details/', account().id])"
    class="min-w-85 h-30 aspect-ratio-2/1 rounded-xl bg-finco-card-bg-color border-2 border-finco-button-bg-color px-4 py-2">
    <p class="text-xs text-finco-secondary-color flex justify-between">
        <span>{{account().type}}</span><span>{{account().currency}}</span></p>
    <div class="flex justify-between items-center">
        <h3 class="font-bold text-finco-primary-color">{{account().name}}</h3>
    </div>
    <div class="flex justify-between items-center my-1">
        <p class="text-lg font-bold" [ngClass]="{
                'text-red-500': account().balance! < 0,
                'text-finco-primary-color': account().balance! >= 0
              }">{{account().balance | currency:'':''}}</p>
    </div>
</button>