<nav
  class="fixed bottom-0 left-0 right-0 bg-gradient-to-t from-finco-card-bg-color to-finco-bg-color shadow-lg z-100"
>
  <div class="max-w-md mx-auto px-4">
    <div class="flex justify-between gap-x-6 items-center h-16 px-10">
      <!-- Accounts -->
      <a
        routerLink="/accounts"
        routerLinkActive="scale-110 font-bold"
        class="nav-item flex flex-col items-center justify-center text-finco-primary-color flex-1 transition duration-250"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
          />
        </svg>
        <span class="text-xs mt-1">Accounts</span>
      </a>

      <!-- Goals -->
      <a
        routerLink="/goals"
        routerLinkActive="scale-110 font-bold"
        class="nav-item flex flex-col items-center justify-center text-finco-primary-color flex-1 transition duration-250"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span class="text-xs mt-1">Goals</span>
      </a>

      <!-- Stats -->
      <a
        routerLink="/transactions"
        routerLinkActive="scale-110 font-bold"
        class="nav-item flex flex-col items-center justify-center text-finco-primary-color flex-1 transition duration-250"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
          />
        </svg>
        <span class="text-xs mt-1">Stats</span>
      </a>

      @if (authService.hasRole('PREMIUM')) {
        <a
          routerLink="/chat"
          routerLinkActive="scale-110 font-bold"
          class="nav-item flex flex-col items-center justify-center text-finco-primary-color flex-1 transition duration-250"
        >
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
            />
          </svg>
          <span class="text-xs mt-1">Ai</span>
        </a>
      }

    </div>
  </div>
</nav>
