<nav
  class="fixed bottom-0 left-0 right-0 bg-gradient-to-t from-finco-card-bg-color to-finco-bg-color shadow-lg z-100"
  aria-label="Main navigation"
>
  <div class="max-w-lg mx-auto px-4">
    <div class="flex justify-around items-center h-16">
      <a
        routerLink="/accounts"
        routerLinkActive="scale-110 font-bold"
        class="nav-item flex flex-col items-center justify-center text-finco-primary-color transition duration-250"
        aria-label="Accounts"
      >
        <svg class="h-5 w-5 text-finco-primary-color">
          <use xlink:href="/sprite.svg#account" />
        </svg>
        <span class="text-xs mt-1">Accounts</span>
      </a>

      <a
        routerLink="/goals"
        routerLinkActive="scale-110 font-bold"
        class="nav-item flex flex-col items-center justify-center text-finco-primary-color transition duration-250"
        aria-label="Goals"
      >
        <svg class="h-5 w-5 text-finco-primary-color">
          <use xlink:href="/sprite.svg#goal" />
        </svg>
        <span class="text-xs mt-1">Goals</span>
      </a>

      <a
        routerLink="/transactions"
        routerLinkActive="scale-110 font-bold"
        class="nav-item flex flex-col items-center justify-center text-finco-primary-color transition duration-250"
        aria-label="Stats"
      >
        <svg class="h-5 w-5 text-finco-primary-color">
          <use xlink:href="/sprite.svg#stats" />
        </svg>
        <span class="text-xs mt-1">Stats</span>
      </a>

      @if (authService.hasRole('PREMIUM')) {
      <a
        routerLink="/chat"
        routerLinkActive="scale-110 font-bold"
        class="nav-item flex flex-col items-center justify-center text-finco-primary-color transition duration-250"
        aria-label="AI Chat"
      >
        <svg class="h-5 w-5 text-finco-primary-color">
          <use xlink:href="/sprite.svg#message" />
        </svg>
        <span class="text-xs mt-1">Ai</span>
      </a>
      }
    </div>
  </div>
</nav>
