<div class="flex flex-col py-20 justify-between items-center min-h-screen max-h-screen bg-gradient-to-br from-finco-bg-color to-finco-card-bg-color">
    <div class="flex flex-col min-w-80 font-bold flex-1">
        <h2 class="text-finco-secondary-color ">
            Hi {{name}}
        </h2>
        <app-total [_total]="totals.value()!"></app-total>
    </div>

    <div class="flex flex-col gap-2 min-w-85 font-bold flex-3">
        <app-transaction-chart [transactionChartOptions]="transactionChartOptions()"></app-transaction-chart>
        <transaction-ranges-buttons [transactionsTotals]="totalTransactions()" (range)="updateFilter($event)"></transaction-ranges-buttons>
    </div>  

    <div class="grid grid-cols-2 gap-1 min-w-80 font-bold flex-3 justify-center items-center">
        <p class="col-span-2">grafica de tortas</p>
        <div class="flex flex-col justify-center items-center">
            hola
            <div class="bg-finco-button-bg-color h-15 w-15 rounded-full"></div>
        </div>
        <div class="flex flex-col justify-center items-center">
            hola2
            <div class="bg-finco-button-bg-color h-15 w-15 rounded-full"></div>
        </div>
        <div class="flex flex-col justify-center items-center">
            hola3
            <div class="bg-finco-button-bg-color h-15 w-15 rounded-full"></div>
        </div>
        <div class="flex flex-col justify-center items-center">
            hola4
            <div class="bg-finco-button-bg-color h-15 w-15 rounded-full"></div>
        </div>
    </div>
</div>
